VITE_SUPABASE_URL=https://kwatxlalxklxbwwpqgat.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3YXR4bGFseGtseGJ3d3BxZ2F0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4Njg5NjksImV4cCI6MjA3OTQ0NDk2OX0.cM08IzvWX0TwoJ92Dr_2VF7rlizcOxXLAs-cavqi1sQ